//-- Font Variables
$font-poppins:  'poppins',sans-serif;

//-- Font Weight
$fw-100 : 100; // Thin 
$fw-200 : 200; // Extra Light 
$fw-300 : 300; // Light
$fw-400 : 400; // Regular
$fw-500 : 500; // Medium
$fw-600 : 600; // Semi Bold
$fw-700 : 700; // Bold
$fw-800 : 800; // Extra Bold
$fw-900 : 900; // Black


//-- Font Size

$font-12 : 12px;
$font-14 : 14px;
$font-15 : 15px;
$font-16 : 16px;
$font-18 : 18px;
$font-20 : 20px;
$font-22 : 22px;
$font-24 : 24px;
$font-25 : 25px;
$font-26 : 26px;
$font-28 : 28px;
$font-30 : 30px;
$font-30 : 30px;
$font-32 : 32px;
$font-34 : 34px;
$font-36 : 36px;
$font-38 : 38px;
$font-40 : 40px;
$font-42 : 42px;
$font-44 : 44px;
$font-46 : 46px;
$font-48 : 48px;
$font-50 : 50px;


//-- Font Colour
$color-black :               #000000;
$color-white :               #FFFFFF;
$color-red   :               #ff0000;
$color-24282C :              #24282C; 
$color-111111 :              #111111;
$color-222222 :              #222222;
$color-444444 :              #444444;
$color-888888 :              #888888;
$color-666666 :              #666666;
$color-5f656c :              #5f656c;
$color-ededed :              #ededed; 
$color-eaeaea :              #eaeaea;
$color-de463b :              #de463b;
$color-557dbc :              #557dbc;
$color-1c86c6 :              #1c86c6;
$color-1f1f1f :              #1f1f1f;
$color-FBFBFB :              #FBFBFB;
$color-fbfbfb :              #fbfbfb;
$color-F5F5F5 :              #F5F5F5;
$color-DDDDDD :              #DDDDDD;
$color-CCCCCC :              #CCCCCC;
$color-E7B900 :              #E7B900;
$color-95BF47 :              #95BF47;
$color-F1F8FA :              #F1F8FA;
$color-5f656c :              #5f656c;
$color-D7D7D7 :              #D7D7D7;
$color-A7A9AB :              #A7A9AB;
$color-F2F8FF :              #F2F8FF;
$color-1CB81D :              #1CB81D;
$color-F9F9F9 :              #F9F9F9;
$color-EF7C33 :              #EF7C33;
$color-38393A :              #38393A;